*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FBF7F4;
}

nav{
    background-color: #FBF7F4;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #B8336A;
    font-size: large;
}

nav .disabled{
    pointer-events: none;
}

nav a:hover{
    background-color: #eed1bb;
    border-radius: 5px;
    transition: all 0.2s;
}

nav a:hover .dropdown{
    display: block;
}

nav li:first-child{
    margin-left: 10px;
    margin-right: 20px;
}

nav img{
    max-height: 80px;

}

.nav-over{
    background-color: #fdeee3;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-over ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-over li{
    height: 30px;
}

.nav-over a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #B8336A;
    font-size: medium;
}

.nav-over .disabled{
    pointer-events: none;
}

.nav-over a:hover{
    background-color: #eed1bb;
    border-radius: 5px;
    transition: all 0.2s;
}

.highlighted{
    border-radius: 5px;
    border: 2px solid black;    
}

.nav-over a:hover .dropdown{
    display: block;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(251, 247, 244, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar li:first-child{
    margin-left: auto;
}

.sidebar a{
    width: 100%;
}

.menu{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.dancing-girl{
    position: relative;
    text-align: center;
    background-color: #183059;
    width: 100%;
    height: 25%;
}

.dancing-girl-img{
    width: 100%;
    border-bottom-left-radius: 50px 20px;
    border-bottom-right-radius: 50px 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
}

.dancing-girl-top-right{
    width: 20%;
    position: absolute;
    bottom: 20%;
    right: 75%;
    filter: brightness(200%);
}

.mezelfje-img{
    width: 100%;
}

.dancing-girl-bottom-right{
    position: absolute;
    width: 10%;
    bottom: 0%;
    right: 40%;
}

.flower-img{
    width: 50%;
}

.welzijn{
    background-color: #183059;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%
}

@media(max-width: 800px){
    .welzijn{
        padding-left: 10%;
        padding-right: 10%;
    }
}

.welzijn h1{
    color: #B8336A;
    font-size: clamp(1.2rem, 2.5vw, 5.5rem);
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    font-weight: lighter;
    font: Geneva;
}

.welzijn h2 {
    color: rgb(182, 197, 223);
    font-size: clamp(1.2rem, 2.5vw, 5.5rem);
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    font-weight: lighter;
}

.welzijn-voor{
    color: white;
}

.welzijn a{
    text-align: left;
    color: white;
    font-size: clamp(1rem, 1.2vw, 5.5rem);
    font-weight: lighter;
}

.welzijn li{
    text-align: left;
    color: white;
    font-size: clamp(1rem, 1.2vw, 5.5rem);
    font-weight: 100;
}

.welzijn-cap{
    text-transform: uppercase;
    font-size: clamp(1rem, 3vw, 5.5rem);
}

.startpunt{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    font-weight: lighter;
    font-size: clamp(1rem, 1.2vw, 5.5rem);
}

@media(max-width: 800px){
    .startpunt{
        padding-left: 10%;
        padding-right: 10%;
    }
}

.startpunt h1{
    color: #B8336A;
    text-align: center;
    font-weight: lighter;
}

.startpunt a{
    color: #183059;
    font-size: clamp(1rem, 1.2vw, 5.5rem);
    text-align: center;
}

.startpunt h2 {
    text-align: center;
    font-weight: lighter;
    font-size: clamp(1rem, 1.2vw, 5.5rem);
    padding-top: 5%;
    color: #183059;
}

.numbers{
    font-family: Lucida Handwriting;
    color: #B8336A;
    font-size: clamp(1.2rem, 4vw, 5.5rem);
}

.pop{
    width: 50%;
    padding-left: 25%;
    padding-top: 5%;
}

.arrow{
    width: 10%;
    padding-left: 60%;
    padding-top: 2%;
}

.flex-diensten{
    display: flex;
    background-color: rgb(136, 149, 171);
    padding: 5%;
    gap: 5%;
    justify-content: center;
}

.flex-diensten .box{
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 10px;;
    width: 100%;
    max-width: 100%;
}

.flex-diensten img{
    width: 70%;
    position: relative;
    top: 15%;
    left: 15%;
}

.flex-diensten .btn {
    position: relative;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #183059;
    color: white;
    font-size: clamp(0.5rem, 1vw, 2rem);
    padding: 5% 20%;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .flex-diensten .btn:hover{
    background-color: #2a5399;
    transition: all 0.2s;
  }